
*.xcworkspacedata

*.xcuserstate

*.xcscheme

FaxianFramework.xcodeproj/xcuserdata/garin.xcuserdatad/xcschemes/xcschememanagement.plist

Products/FaxianFramework.framework/_CodeSignature/CodeResources

Products/FaxianFramework.framework/11.png

Products/FaxianFramework.framework/embedded.mobileprovision

Products/FaxianFramework.framework/FaxianFramework

Products/FaxianFramework.framework/Headers/FaxianFramework.h

Products/FaxianFramework.framework/Modules/module.modulemap

*.xcbkptlist

invokeDylbDemo/invokeDylbDemo.xcodeproj/xcuserdata/garin.xcuserdatad/xcschemes/xcschememanagement.plist
